PORT=
NODE_ENV=
JWT_SECRET=
DATABASE_URL=
ADMIN_EMAIL=
ADMIN_PASSWORD=
ADMIN_NAME=
FRONTEND_URL=
MPESA_ENV=
MPESA_CONSUMER_KEY=
MPESA_CONSUMER_SECRET=
MPESA_SHORTCODE=
MPESA_PASSKEY=
MPESA_CALLBACK_URL=
MPESA_INITIATOR_NAME=
MPESA_INITIATOR_PASSWORD=